name: Azure CLI ODIC Demo

on:
  workflow_dispatch:
permissions:
    id-token: write 
    contents: read
jobs:
  azure-cli:
    runs-on: ubuntu-latest
    environment: azurerm 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Azure using OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Run Azure CLI Command
        run: | 
            az account show 
            az group list